{% extends "layout.html" %}
{% block body %}

<!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <table class="table">
                                <caption>Blog Posts</caption>
                                <h1>Basic Actions</h1>
                                <hr>
                                 <a href="/edit/0">  <button class="btn btn-primary"> Add a new post</button></a>
                                 <hr>
                                 <a href="/logout">  <button class="btn btn-primary"> Logout</button></a>
                                 <form action="/logout"></form>
                                <hr>
                                <div class = "row ">
                                </div>
                                <h1>File Upload</h1>
                                 <hr>
                                <form action="/upload" method="post" enctype="multipart/form-data">
                                <input type="file" id="filename" name="filename">
                                <input button class="btn btn-primary" type="submit" id="button" name="button">
                                </form>
                                <hr>
                                  <thead>
                                    <tr>
                                      <th scope="col">SNO</th>
                                      <th scope="col">Title</th>
                                      <th scope="col">Slug</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  {% for posts in post %}
                                    <tr>
                                      <th scope="row">{{posts.sno}}</th>
                                      <td>{{posts.title}}</td>
                                      <td>{{posts.slug}}</td>
                                        <td><a href="/edit/{{posts.sno}}"><button class="btn btn-primary">Edit
                                            </button></a></td>
                                        <td><a href="/delete/{{posts.sno}}"><button class="btn btn-primary">Delete
                                            </button></a></td>
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}